body{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)no-repeat center center fixed;
}
#timer{
    font-size:50px;
    font-family:courier;
    color:black;
    text-align:center;
    margin-top:100px;
}
#controls{
    /* margin-top:50px; */
    text-align:center;
    border-radius: 10px 5px 5px 10px;
    background-color:greenyellow;
    /* background-size:20% auto; */
    padding: 10px;
    /* width:600px;
    height:200px; */
    /* display: block; */
    margin-left: 35%;
    margin-right: 35%;

}
